deployment_notes.txt
resources.zip
temp.txt
db_connect.sh
logs
_project.clj
src/clj/y_video_back/routes/service_handlers/db_front_converter.clj
*.sh
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/log
*.log
*config.edn
*helpdesk.2017.10.13.sql
/.eastwood
notes.txt
todo.txt
*.swp
config.py
api_config.txt
perfect_api.json
Clojure REPL
trash
_project.clj
