*.class
*.jar
*.log
*.swp
*.tmp
*.webm
*config.edn
*helpdesk.2017.10.13.sql
.nrepl-port
.~lock.permissions.ods#
/.calva
/.clj-kondo
/.eastwood
/.env
/.lein-*
/.lsp
/checkouts
/classes
/env/dev/resources/config.edn.2023220
/lib
/log
/target
Clojure REPL
__pycache__
_project.clj
api_config.txt
config.py
db_connect.sh
deployment_notes.txt
logs
media_use_logs
notes.txt
perfect_api.json
pom.xml
profiles.clj
python/20*complete.txt
python/20*partial.txt
python/content_file_ids.tsv
python/db_config.py
python/fix_content_file_ids.json
python/migration_config.py
python/stress_test_api.py
resources.zip
resources/html/index.html
resources/public/_redirects
resources/public/asset-manifest.json
resources/public/favicon.ico
resources/public/manifest.json
resources/public/precache*.js
resources/public/service-worker.js
resources/public/static
resources/public/static/cat_sleep.mp4
resources/public/static/test_kitten.mp4
secret_playground.clj
src/clj/y_video_back/routes/service_handlers/db_front_converter.clj
temp.txt
to-clojure.sh
todo.txt
trash
_project.clj
python/stress_test_api.py
python/migration_config.py
python/fix_content_file_ids.json
python/content_file_ids.tsv
resources/public/static/test_kitten.mp4
resources/public/static/cat_sleep.mp4
/.calva
/.lsp
/.clj-kondo
*.webm
__pycache__
/env/dev/resources/config.edn.2023220
upload.html
yvideo-client
/test/clj/testing/dest/
/test/clj/testing/temp/
