resources/html/index.html
resources/public/_redirects
resources/public/asset-manifest.json
resources/public/favicon.ico
resources/public/manifest.json
resources/public/precache*.js
resources/public/service-worker.js
resources/public/static
yvideo-client
media_use_logs
.~lock.permissions.ods#
upload.html
secret_playground.clj
deployment_notes.txt
resources.zip
temp.txt
db_connect.sh
logs
_project.clj
src/clj/y_video_back/routes/service_handlers/db_front_converter.clj
to-clojure.sh
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/log
*.log
*config.edn
*helpdesk.2017.10.13.sql
/.eastwood
notes.txt
todo.txt
*.swp
config.py
api_config.txt
perfect_api.json
Clojure REPL
trash
_project.clj
python/stress_test_api.py
resources/public/static/test_kitten.mp4
resources/public/static/cat_sleep.mp4
/.calva
/.lsp
/.clj-kondo
*.webm
