;; ALL FILE PATHS MUST HAVE TRAILING FORWARD SLASH

;; env/dev/resources/config.edn
{:dev true
 :port 3000
 :session-id-bypass ""
 :nrepl-port 7000
 :NEW-USER-PASSWORD ""
 :CONSUMER_KEY ""
 :CONSUMER_SECRET ""
 :auth {:timeout 16200000} ; 4.5 hour - MUST CHANGE IN DB TRIGGER TOO
 :front-end-netid ""
 :FILES {:media-url "{filepath}"
         :media-trash-url "{filepath}"
         :timeout 14400000 ; 4 hours - MUST CHANGE IN DB TRIGGER TOO
         :log-path "{filepath}"
         :endpoint-log-path "{filepath}"}
 :user-data-refresh-after 168 ; in hours - 7 days
 :user-courses-refresh-after 168 ; in hours - 7 days
 :host "http://localhost:3000"
 :admin-emails ["{email address}" "{email address}"]
 :y-video-back {:site-url "http://localhost:3000"
                :db {:database-name ""
                     :adapter ""
                     :auto-commit true
                     :register-mbeans false
                     :password ""
                     :port-number 5432
                     :username ""
                     :max-lifetime 1800000
                     :minimum-idle 10
                     :connection-timeout 30000
                     :server-name ""
                     :read-only false
                     :maximum-pool-size 2
                     :idle-timeout 600000
                     :validation-timeout 5000
                     :pool-name "db_pool"}}}
